.music-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.music-list li {
  margin: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
  max-width: 300px; /* Limit max width of each item */
  width: calc(20% -40px); /* Calculate width for 5 items per row with margins */
}

@media (max-width: 800px) {
  .music-list li {
    width: calc(
      33.33% - 40px
    ); /* Adjust width for 3 items per row with margins */
  }
}

@media (max-width: 400px) {
  .music-list li {
    width: calc(50% - 40px); /* Adjust width for 2 items per row with margins */
  }
}

.audio-image {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto;
}

.audio-element {
  width: 100%;
  height: 40px;
}

.loader-container {
  height: 100vh;
}
