@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* Optional: Custom CSS variables for background and text */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Light Theme */
html.light {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Theme */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

* {
  box-sizing: border-box;
}
